{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">
<h1>Results</h1>
<p class="lead">Flower Dimensions.</p>
<p><a href="{{ url_for("register") }}">Enter New Values </a></p>
</div><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sepal Length</th>
      <th>Sepal Width</th>
      <th>Petal Length</th>
      <th>Petal Width</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
{% endblock content %}